<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <title>FizzBuzz test page</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='green.css' ) }}">
</head>
<body>
<div id="div1">szöveg</div>

<button type="button" onclick="change()">Click Me!</button>




<div id="mooving-attribute"   class="test_div" onmouseover="teszt_func1()" onmouseout="teszt_func1()"></div>

<br>


<div id="mooving-attribute" class="test_div"></div>









   <script src="{{ url_for('static', filename='1.js' ) }}"></script>
</body>
</html>
