<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
      div.lo {
  height: 1000px;

  background-color: powderblue;

}
</style>

    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='foundation.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css' ) }}">
       <link rel="stylesheet" href="{{ url_for('static', filename='foundation.min.css' ) }}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


  </head>
  <body>



<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>














<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns<br>






        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalLong">button</button>
        <!-- Button trigger modal -->

</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Aki ezt elolvasa az hülye
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

    </div>







    <div class="col-sm">

        One of three columns<br>






        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalLong">button</button>
        <!-- Button trigger modal -->

</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Aki ezt elolvasa az hülye
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
    </div>
    <div class="col-sm">
    One of three columns<br>






        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalLong">button</button>
        <!-- Button trigger modal -->

</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Aki ezt elolvasa az hülye
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>

























<div class="lo">semmi</div>

  <br>
  <div>










 Texas államban született. Az 1960-as évek elején íróként kezdett dolgozni a televíziótársaságok számára. Hatalmas sikereket aratott, egyik műsoráért megkapta az Emmy-díjat is. Az évtized vége felé már egyre gyakrabban lépett fel tévé-show-kban. A The Tonight Show-ban is számtalanszor szerepelt, majd az itt szerzett népszerűséget kihasználva országos turnéra indult, és sok-sok ezer nézőt nyűgözött le a poénjaival. Első két lemezéért Grammy-díjat kapott. A hetvenes évek végén fordult érdeklődése a játékfilmek felé, íróként és színészként is számtalan filmet jegyzett azóta. Elnyerte a New York-i filmkritikusok díját, és komoly sikert aratott a Cyrano feldolgozásával, a Roxanne-nal. A film, amelynek ő volt a forgatókönyvírója is, megkapta a legjobb forgatókönyv díját és a Los Angeles-i filmkritikusok neki ítéltek a legjobb férfi főszereplőnek járó kitüntetést is. Színdarabjait számos színház tűzi műsorára Amerika-szerte. Karrierje során ötször jelölték Golden Globe-díjra.

2006-ban nagy sikert aratott a töketlen Clouseau nyomozó szerepében A rózsaszín párduc (The Pink Panther) című vígjátékban. Az alkotás összbevétele majdnem megduplázta a költségvetését, világszerte 158 millió dollárt termelt. Az áruló (Traitor) című 2008-as filmnek a producere, és társ-forgatókönyvírója volt. 2009-ben visszafogott sikert könyvelhetett el A rózsaszín párduc 2. (The Pink Panther 2) második része, ugyanebben az évben bemutatott Egyszerűen bonyolult (It's Complicated) abszolút siker volt. Martin partnerei Meryl Streep és Alec Baldwin volt. A kritikusok abszolút negatívan értékelték Steve Martin legújabb filmjét, a 2012-es Vad évad (The Big Year) című komédiát, amely a mozikban is csúfos bukást ért el.

Hatvanéves korától kezdve gyakorta lép fel énekesként és bendzsósként (általában a Steep Canyon Rangers zenekarral) különböző zenei eseményeken, leginkább jazz fesztiválokon. Első albuma, a The Crow: New Songs for the Five-String Banjo 2009-ben jelent meg.

2005-ben megkapta a legjobb amerikai humoristának járó Mark Twain-díjat, 2009-ben a Kennedy Center egyik életműdíjasa lett. Martin 2001-ben egyedül, majd 2010-ben Alec Baldwinnal közösen vezette a 82. Oscar-gálát. Őt magát egyetlen alkalommal sem jelölték Oscar-díjra. 2013-ban életmű Oscar-díjjal jutalmazták filmes pályafutását.

Magánélete
1986 és 1994 között nős volt, felesége Victoria Tennant színésznő volt. 2007. július végén feleségül vette 26 évvel fiatalabb barátnőjét, Anne Stringfieldet. 2012 decemberében, 67 éves korában lett először édesapa. A kislány születését három hónapon keresztül sikeresen titokban tartották, a jövevény érkezésének hírét csak 2013. február 13-án írták meg a vezető amerikai és brit lapok.

Filmjei
1979 – A pacák (The Jerk) (történetíró, forgatókönyvíró, Navin Johnson)
1979 – The Muppet Movie
1981 – Filléreső (Pennies From Heaven) (színész)
1982 – Halott férfi nem hord zakót (Dead Men Don't Wear Plaid) (forgatókönyvíró, színész)
1983 – Agyban nagy (The Man With Two Brains) (színész)
1984 – Lapátra tett férjek (The Lonely Guy) (színész)
1984 – Mindenem a tied (All of Me) (Roger Cobb)
1985 – Akiktől forog a világ (Movers and Shakers) (Fabio Longio)
1986 – Három Amigo (Three Amigos!) (színész)
1986 – Rémségek kicsiny boltja (Little Shop of Horrors) (színész)
1987 – Roxanne (forgatókönyvíró, C.B.)
1987 – Repülők, vonatok, autók (Planes, Trains & Automobiles) (színész)
1988 – A Riviéra vadorzói (Dirty Rotten Scoundrels) (színész)
1989 – Vásott szülők (Parenthood) (színész)
1990 – L.A. Story - Az őrült város (L. A. Story) (színész)
1990 - Az én kék egem ( My Blue Heaven) (színész)
1990 - Kamutanú
1991 – Örömapa (Father of the Bride) (George Banks)
1991 – Grand Canyon (színész)
1992 – Jöttem, láttam, beköltöztem (HouseSitter) (színész)
1992 – Páratlan prédikátor (Leap of Faith) (Jonas Nightengale)
1993 – És a zenekar tovább játszik (And the Band Played On) (AIDS beteg bátyja)
1994 – A sors kegyeltje (A Simple Twist of Fate) (ügyvezető producer, forgatókönyvíró, Michael McMann)
1994 – Segítség, karácsony! (Mixed Nuts) (Philip)
1995 – Örömapa 2. (Father Of The Bride Part II) (George Banks)
1996 – Bilko főtörzs (Sgt. Bilko) (Master Sgt. Ernest G. Bilko)
1997 – A képlet csapdája (The Spanish Prisoner) (Julian "Jimmy" Dell)
1998 – Egyiptom hercege (The Prince of Egypt) (Hotep szinkronhangja)
1998 – Babe: Kismalac a nagyvárosban (Babe: Pig in the City) (Raider)
1999 – Párosban a városban (The Out-of-Towners) (Henry Clark)
1999 – Fergeteges forgatás (Bowfinger) (forgatókönyvíró, Bobby Bowfinger)
1999 – Fantázia 2000 (önmaga)
2001 – Novocain – A férfi, aki otthagyta a fogát (Novocaine) (Dr. Frank Sangster)
2003 – Tucatjával olcsóbb (Cheaper by the Dozen) (Tom Baker)
2003 – Bolondos dallamok: Újra bevetésen (Looney Tunes: Back in Action) (Dr. Chairman)
2003 – Több a sokknál (Bringing Down the House) (Peter Sanderson)
2004 – Diliwood (Jiminy Glick in Hollywood) (önmaga)
2005 – Tucatjával olcsóbb 2. (Cheaper By the Dozen 2) (Tom Baker)
2005 – Az eladólány (Shopgirl) (forgatókönyvíró, producer, Ray Porter)
2006 – A rózsaszín párduc (The Pink Panther) (forgatókönyvíró, Jacques Clouseau felügyelő)
2009 - A rózsaszín párduc 2. (The Pink Panther 2.) (forgatókönyvíró, Jacques Clouseau felügyelő)
2009 - Egyszerűen bonyolult (It's Complicated) (Adam)
2011 - Vad Évad (The Big Year) (Stu Preissler)


  Texas államban született. Az 1960-as évek elején íróként kezdett dolgozni a televíziótársaságok számára. Hatalmas sikereket aratott, egyik műsoráért megkapta az Emmy-díjat is. Az évtized vége felé már egyre gyakrabban lépett fel tévé-show-kban. A The Tonight Show-ban is számtalanszor szerepelt, majd az itt szerzett népszerűséget kihasználva országos turnéra indult, és sok-sok ezer nézőt nyűgözött le a poénjaival. Első két lemezéért Grammy-díjat kapott. A hetvenes évek végén fordult érdeklődése a játékfilmek felé, íróként és színészként is számtalan filmet jegyzett azóta. Elnyerte a New York-i filmkritikusok díját, és komoly sikert aratott a Cyrano feldolgozásával, a Roxanne-nal. A film, amelynek ő volt a forgatókönyvírója is, megkapta a legjobb forgatókönyv díját és a Los Angeles-i filmkritikusok neki ítéltek a legjobb férfi főszereplőnek járó kitüntetést is. Színdarabjait számos színház tűzi műsorára Amerika-szerte. Karrierje során ötször jelölték Golden Globe-díjra.

2006-ban nagy sikert aratott a töketlen Clouseau nyomozó szerepében A rózsaszín párduc (The Pink Panther) című vígjátékban. Az alkotás összbevétele majdnem megduplázta a költségvetését, világszerte 158 millió dollárt termelt. Az áruló (Traitor) című 2008-as filmnek a producere, és társ-forgatókönyvírója volt. 2009-ben visszafogott sikert könyvelhetett el A rózsaszín párduc 2. (The Pink Panther 2) második része, ugyanebben az évben bemutatott Egyszerűen bonyolult (It's Complicated) abszolút siker volt. Martin partnerei Meryl Streep és Alec Baldwin volt. A kritikusok abszolút negatívan értékelték Steve Martin legújabb filmjét, a 2012-es Vad évad (The Big Year) című komédiát, amely a mozikban is csúfos bukást ért el.

Hatvanéves korától kezdve gyakorta lép fel énekesként és bendzsósként (általában a Steep Canyon Rangers zenekarral) különböző zenei eseményeken, leginkább jazz fesztiválokon. Első albuma, a The Crow: New Songs for the Five-String Banjo 2009-ben jelent meg.

2005-ben megkapta a legjobb amerikai humoristának járó Mark Twain-díjat, 2009-ben a Kennedy Center egyik életműdíjasa lett. Martin 2001-ben egyedül, majd 2010-ben Alec Baldwinnal közösen vezette a 82. Oscar-gálát. Őt magát egyetlen alkalommal sem jelölték Oscar-díjra. 2013-ban életmű Oscar-díjjal jutalmazták filmes pályafutását.

Magánélete
1986 és 1994 között nős volt, felesége Victoria Tennant színésznő volt. 2007. július végén feleségül vette 26 évvel fiatalabb barátnőjét, Anne Stringfieldet. 2012 decemberében, 67 éves korában lett először édesapa. A kislány születését három hónapon keresztül sikeresen titokban tartották, a jövevény érkezésének hírét csak 2013. február 13-án írták meg a vezető amerikai és brit lapok.

Filmjei
1979 – A pacák (The Jerk) (történetíró, forgatókönyvíró, Navin Johnson)
1979 – The Muppet Movie
1981 – Filléreső (Pennies From Heaven) (színész)
1982 – Halott férfi nem hord zakót (Dead Men Don't Wear Plaid) (forgatókönyvíró, színész)
1983 – Agyban nagy (The Man With Two Brains) (színész)
1984 – Lapátra tett férjek (The Lonely Guy) (színész)
1984 – Mindenem a tied (All of Me) (Roger Cobb)
1985 – Akiktől forog a világ (Movers and Shakers) (Fabio Longio)
1986 – Három Amigo (Three Amigos!) (színész)
1986 – Rémségek kicsiny boltja (Little Shop of Horrors) (színész)
1987 – Roxanne (forgatókönyvíró, C.B.)
1987 – Repülők, vonatok, autók (Planes, Trains & Automobiles) (színész)
1988 – A Riviéra vadorzói (Dirty Rotten Scoundrels) (színész)
1989 – Vásott szülők (Parenthood) (színész)
1990 – L.A. Story - Az őrült város (L. A. Story) (színész)
1990 - Az én kék egem ( My Blue Heaven) (színész)
1990 - Kamutanú
1991 – Örömapa (Father of the Bride) (George Banks)
1991 – Grand Canyon (színész)
1992 – Jöttem, láttam, beköltöztem (HouseSitter) (színész)
1992 – Páratlan prédikátor (Leap of Faith) (Jonas Nightengale)
1993 – És a zenekar tovább játszik (And the Band Played On) (AIDS beteg bátyja)
1994 – A sors kegyeltje (A Simple Twist of Fate) (ügyvezető producer, forgatókönyvíró, Michael McMann)
1994 – Segítség, karácsony! (Mixed Nuts) (Philip)
1995 – Örömapa 2. (Father Of The Bride Part II) (George Banks)
1996 – Bilko főtörzs (Sgt. Bilko) (Master Sgt. Ernest G. Bilko)
1997 – A képlet csapdája (The Spanish Prisoner) (Julian "Jimmy" Dell)
1998 – Egyiptom hercege (The Prince of Egypt) (Hotep szinkronhangja)
1998 – Babe: Kismalac a nagyvárosban (Babe: Pig in the City) (Raider)
1999 – Párosban a városban (The Out-of-Towners) (Henry Clark)
1999 – Fergeteges forgatás (Bowfinger) (forgatókönyvíró, Bobby Bowfinger)
1999 – Fantázia 2000 (önmaga)
2001 – Novocain – A férfi, aki otthagyta a fogát (Novocaine) (Dr. Frank Sangster)
2003 – Tucatjával olcsóbb (Cheaper by the Dozen) (Tom Baker)
2003 – Bolondos dallamok: Újra bevetésen (Looney Tunes: Back in Action) (Dr. Chairman)
2003 – Több a sokknál (Bringing Down the House) (Peter Sanderson)
2004 – Diliwood (Jiminy Glick in Hollywood) (önmaga)
2005 – Tucatjával olcsóbb 2. (Cheaper By the Dozen 2) (Tom Baker)
2005 – Az eladólány (Shopgirl) (forgatókönyvíró, producer, Ray Porter)
2006 – A rózsaszín párduc (The Pink Panther) (forgatókönyvíró, Jacques Clouseau felügyelő)
2009 - A rózsaszín párduc 2. (The Pink Panther 2.) (forgatókönyvíró, Jacques Clouseau felügyelő)
2009 - Egyszerűen bonyolult (It's Complicated) (Adam)
2011 - Vad Évad (The Big Year) (Stu Preissler)


  </div>









  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

      <script src="{{ url_for('static', filename='jquery.js' ) }}"></script>
      <script src="{{ url_for('static', filename='what-input.js' ) }}"></script>
      <script src="{{ url_for('static', filename='foundation.js' ) }}"></script>
      <script src="{{ url_for('static', filename='app.js' ) }}"></script>






<div class="card text-center fixed-bottom">


  <div class="card-footer text-muted">
    Footer
  </div>
</div>




  </body>
</html>
